name: SteamDB Screenshot

on:
  schedule:
    - cron: "0 */2 * * *"   # 2 saatte bir
  workflow_dispatch:

jobs:
  screenshot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install selenium requests

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run script
        env:
          STEAMDB_URL: ${{ secrets.STEAMDB_URL }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python steamdb_bot.py
